{
  "TANAYTOURISM": {
    "environment": "development",
    "base_url": "//tanay-tourism.000webhostapp.com/administrator/",
    "e_key": "tanayrizal2018",
    "dbase": {
      "host": "127.0.0.1",
      "user": "id6727110_tanaytourism",
      "pass": "TanayRizal2018!",
      "name": "id6727110_tanaytourism"
    },
    "auth": {
      "user": "tanaytourism",
      "pw": "tanay2018tourism"
    },
    "default_controller": "dashboard",
    "image_upload_path": "assets/images/",
    "items_per_page": "10",
    "menu_items": [
      {
        "url": "dashboard",
        "controller": "dashboard",
        "caption": "Dashboard",
        "icon": "fas fa-columns",
        "allowed_users": [
          "all"
        ],
        "sub-menu": []
      },
      {
        "url": "manage-news",
        "controller": "news",
        "caption": "News Management",
        "icon": "fas fa-newspaper",
        "allowed_users": [
          "super-admin", "content-writer", "content-editor"
        ],
        "sub-menu": []
      },
      {
        "url": "manage-hca",
        "controller": "hca_management",
        "caption": "History, Culture, Arts",
        "icon": "fas fa-history",
        "allowed_users": [
          "super-admin", "page-editor", "content-editor"
        ],
        "sub-menu": [
          {
            "url": "history",
            "caption": "History",
            "icon": "fas fa-university"
          },
          {
            "url": "culture",
            "caption": "Culture",
            "icon": "fas fa-universal-access"
          },
          {
            "url": "arts",
            "caption": "Arts",
            "icon": "fas fa-paint-brush"
          },
          {
            "url": "gallery",
            "caption": "Media Gallery",
            "icon": "fas fa-image"
          }
        ]
      },
      {
        "url": "manage-pp",
        "controller": "pp_management",
        "caption": "People &amp; Places",
        "icon": "fas fa-compass",
        "allowed_users": [
          "super-admin", "page-editor", "content-editor"
        ],
        "sub-menu": [
          {
            "url": "people",
            "caption": "People",
            "icon": "fas fa-users"
          },
          {
            "url": "places",
            "caption": "Places",
            "icon": "fas fa-location-arrow"
          },
          {
            "url": "gallery",
            "caption": "Media Gallery",
            "icon": "fas fa-image"
          }
        ]
      },
      {
        "url": "manage-fc",
        "controller": "fc_management",
        "caption": "Festival &amp; Cuisine",
        "icon": "fas fa-flag",
        "allowed_users": [
          "super-admin", "page-editor", "content-editor"
        ],
        "sub-menu": [
          {
            "url": "festival",
            "caption": "Festival",
            "icon": "fas fa-church"
          },
          {
            "url": "cuisine",
            "caption": "Cuisine",
            "icon": "fas fa-utensils"
          },
          {
            "url": "gallery",
            "caption": "Media Gallery",
            "icon": "fas fa-image"
          }
        ]
      },
      {
        "url": "manage-hf",
        "controller": "hf_management",
        "caption": "H.A.N.E Finder",
        "icon": "fas fa-hotel",
        "allowed_users": [
          "super-admin", "admin"
        ],
        "sub-menu": [
          {
            "url": "metrics",
            "caption": "Hotel Metrics",
            "icon": "fas fa-tachometer-alt"
          }
        ]
      },
      {
        "url": "manage-users",
        "controller": "users",
        "caption": "User Management",
        "icon": "fas fa-users",
        "allowed_users": [
          "super-admin", "admin"
        ],
        "sub-menu": [
          {
            "url": "logs",
            "caption": "User Activity Logs",
            "icon": "fas fa-paper-plane"
          }
        ]
      },
      {
        "url": "manage-gallery",
        "controller": "gallery",
        "caption": "Gallery Management",
        "icon": "fas fa-archway",
        "allowed_users": [
          "all"
        ],
        "sub-menu": []
      },
      {
        "url": "manage-pages",
        "controller": "pages",
        "caption": "Page Management",
        "icon": "fas fa-paperclip",
        "allowed_users": [
          "super-admin", "page-editor", "content-editor"
        ],
        "sub-menu": []
      },
      {
        "url": "settings",
        "controller": "settings",
        "caption": "Settings",
        "icon": "fas fa-cogs",
        "allowed_users": [
          "super-admin", "admin"
        ],
        "sub-menu": [
          {
            "url": "env-var",
            "caption": "Environmental Variables",
            "icon": "fas fa-leaf"
          }
        ]
      }
    ],
    "allowed_session": [
      "login", "logout", "error404page", "session"
    ]
  }
}
