{
  "TANAYTOURISM": {
    "environment": "development",
    "base_url": "//tanay-tourism.000webhostapp.com/a99/",
    "default_controller": "dashboard",
    "image_upload_path": "assets/images/",
    "dbase": {
      "host": "127.0.0.1",
      "user": "id6727110_tanaytourism",
      "pass": "TanayRizal2018!",
      "name": "id6727110_tanaytourism"
    },
    "menu_items": [
      {
        "url": "dashboard",
        "controller": "dashboard",
        "caption": "Dashboard",
        "icon": "fa-dashboard",
        "allowed_users": [
          "all"
        ],
        "sub-menu": []
      },
      {
        "url": "manage-news",
        "controller": "news_management",
        "caption": "News Management",
        "icon": "fa-newspaper-o",
        "allowed_users": [
          "super-admin", "content-writer", "content-editor"
        ],
        "sub-menu": [
          {
            "url": "gallery",
            "caption": "Media Gallery",
            "icon": "fa-image"
          }
        ]
      },
      {
        "url": "manage-hcs",
        "controller": "hca_management",
        "caption": "History, Culture, Arts",
        "icon": "fa-history",
        "allowed_users": [
          "super-admin", "page-editor", "content-editor"
        ],
        "sub-menu": [
          {
            "url": "history",
            "caption": "History",
            "icon": "fa-university"
          },
          {
            "url": "culture",
            "caption": "Culture",
            "icon": "fa-universal-access"
          },
          {
            "url": "arts",
            "caption": "Arts",
            "icon": "fa-paint-brush"
          },
          {
            "url": "gallery",
            "caption": "Media Gallery",
            "icon": "fa-image"
          }
        ]
      },
      {
        "url": "manage-pp",
        "controller": "pp_management",
        "caption": "People & Places",
        "icon": "fa-compass",
        "allowed_users": [
          "super-admin", "page-editor", "content-editor"
        ],
        "sub-menu": [
          {
            "url": "people",
            "caption": "People",
            "icon": "fa-users"
          },
          {
            "url": "places",
            "caption": "Places",
            "icon": "fa-location-arrow"
          },
          {
            "url": "gallery",
            "caption": "Media Gallery",
            "icon": "fa-image"
          }
        ]
      },
      {
        "url": "manage-fc",
        "controller": "fc_management",
        "caption": "Festival & Cuisine",
        "icon": "fa-flag-o",
        "allowed_users": [
          "super-admin", "page-editor", "content-editor"
        ],
        "sub-menu": [
          {
            "url": "festival",
            "caption": "History",
            "icon": "fa-flag"
          },
          {
            "url": "cuisine",
            "caption": "Cuisine",
            "icon": "fa-spoon"
          },
          {
            "url": "gallery",
            "caption": "Media Gallery",
            "icon": "fa-image"
          }
        ]
      },
      {
        "url": "manage-hf",
        "controller": "hf_management",
        "caption": "Hotel Finder",
        "icon": "fa-hotel",
        "allowed_users": [
          "super-admin", "admin"
        ],
        "sub-menu": [
          {
            "url": "metrics",
            "caption": "Hotel Metrics",
            "icon": "fa-tachometer-alt"
          }
        ]
      },
      {
        "url": "manage-users",
        "controller": "users",
        "caption": "User Management",
        "icon": "fa-users",
        "allowed_users": [
          "super-admin", "admin"
        ],
        "sub-menu": [
          {
            "url": "logs",
            "caption": "User Activity Logs",
            "icon": "fa-paper-plane-o"
          }
        ]
      },
      {
        "url": "settings",
        "controller": "settings",
        "caption": "Settings",
        "icon": "fa-cogs",
        "allowed_users": [
          "super-admin", "admin"
        ],
        "sub-menu": [
          {
            "url": "env-var",
            "caption": "Environmental Variables",
            "icon": "fa-leaf"
          }
        ]
      }
    ],
    "allowed_session": [
      "login", "logout", "error404page", "session"
    ]
  }
}
