.tab-items {
  font-weight: bold;
}

.tab-items li {
  margin-left: 5px;
}

.tab-items li:not(.active) {
  background-color: papayawhip;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.tab-items li:not(.active):hover {
  background-color: #ddd;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.tab-items li:not(.active) > a {
  color: #43b76E;
}

.tab-items li:not(.active) > a:hover {
  background-color: #ddd;
  border: 0;
  color: #000;
}

.tab-container {
  background: #fcfcfc;
  padding: 5px;
  border-radius: 4px;
}

.tab-content {
  padding: 10px;
  border-top: 0;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  min-height: 385px;
  overflow-y: auto;
}

@media (min-width: 768px) {
  .tab-content {
    min-height: 480px;
  }
}

.tab-content + .tab-content {
  display: none;
}

#haneImage {
  width: 40%;
}

#haneImage:hover {
  cursor: pointer;
}

@media (min-width: 992px) {
  #modalHaneRooms {
    width: 84%;
    margin-left: 15%;
  }
}

#modalHaneRooms .modal-content hr:first, #modalHaneRooms .modal-heading hr {
  margin: 0;
}

#modalHaneRooms .modal-heading .close {
  margin-right: 2%;
}

.room-list {
  padding: 2px;
}

.room-navigator-buttons {
  background: #ace;
  padding: 5px;
  border-radius: 4px;
  margin-top: 5px;
}

.room-details {
  background: cornsilk;
  border-left: 0;
  padding: 20px;
  display: none;
}

@media (min-width: 992px) {
  .room-details {
    border-top: solid thin #ccc;
    border-left: solid thin #ccc;
  }
}

#closeRoomDetails {
  position: absolute;
  top: 1%;
  right: 2%;
  color: red;
}

#closeRoomDetails:hover {
  cursor: pointer;
}

#roomImage {
  width: 75%;
  border: solid thin #ccc;
}

#roomImage:hover {
  cursor: pointer;
}

.room-row {
  margin: 0;
}

.room-item {
  padding: 2px;
  border: solid thin #ccc;
}

.room-item:hover {
  cursor: pointer;
}

.room-item .item-image {
  width: 100%;
}
