.main.login.container {
  height: 98vh;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

#loginForm {
  top: 5%;
}

#loginForm .modal-heading img {
  width: 50%;
}

@media (min-width: 768px) {
  #loginForm .modal-heading img {
    width: 10%;
  }
}

@media (min-width: 992px) {
  #loginForm {
    top: 20%;
  }
}
