/* For generic data table */
.table-container {
  overflow-x: auto;
}

.table-data {
  margin: 0 auto;
  margin-bottom: 0;
}

.table-data .table-header th {
  background-color: #98fb98;
}

.table-data tbody tr {
  background-color: #fff;
}

.table-data tbody tr:nth-child(even) {
  background-color: #f2f2f2
}

.table-data tbody tr:hover {
  background-color: #43b76E;
  color: #fff;
}

.table-data tbody tr.placeholder {
  background-color: #eee;
}

.table-data tbody tr.placeholder:hover {
  background-color: #eee;
}

/* Search bar */
.search-bar {
  background: #fff;
  padding: 5px;
  border-radius: 4px 4px 0 0;
  width: 100%;
  margin: 0 auto;
}

.search-button:hover {
  cursor: pointer;
}

.reload-list {
  color: #fff;
}

.reload-list:hover {
  color: #fff;
}

/* Navigator */
.navigator {
  background: #fff;
  padding: 5px;
  border-top: solid thin #ccc;
  border-radius: 0 0 4px 4px;
  width: 100%;
  margin: 0 auto;
}

.navigator.navigator-green {
  background-color: #98fb98;
}

/* Gallery Management */
.gallery-container {
  overflow-x: auto;
}
