.settings-container {
  width: 100%;
  padding: 15px;
  background: #fff;
  border-radius: 4px;
}

.settings-container > .row {
  width: 100%;
  margin: 0 auto 10px;
}

.settings-container > .row:last-child {
  margin-bottom: 0;
}

.settings-container h3,
.settings-container h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#configFile {
  width: 100%;
  height: 400px;
}
