/* =======Side Navigation Menu======= */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 40px; /* 50 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: papayawhip;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px; /* Top padding */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  -webkit-box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.75);
}

/* width */
.sidenav::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.sidenav::-webkit-scrollbar-track {
  background: #f1f1f1;
  opacity: 0.7;
}

/* Handle */
.sidenav::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.sidenav::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (min-width: 992px) {
  .sidenav {
    padding-top: 40px;
  }
}

/* The navigation menu links */
.sidenav .menu-item {
  padding: 8px 8px 8px 6px;
  text-decoration: none;
  font-size: 12px;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin-bottom: 5px;
  text-align: center;
}

.sidenav .menu-group .caption {
  display: none;
}

@media (min-width: 768px) {
  .sidenav .menu-item {
    padding: 8px;
  }

  .sidenav.sidenav-open .menu-group .caption {
    display: none;
  }
}

@media (min-width: 992px) {
  .sidenav .menu-item {
    padding: 8px 8px 8px 15px;
    text-align: left;
  }

  .sidenav.sidenav-open .menu-group .caption {
    display: inline;
  }
}

/* When you mouse over the navigation links, change their color */
.sidenav .menu-item:hover {
  color: #f1f1f1;
  background-color: #43b76E;
}

/* When active page == navigation link */
.sidenav .menu-group.menu-item-selected {
  background-color: #43b76E;
}

.sidenav .menu-group.menu-item-selected a {
  color: #fff;
  text-decoration: none;
}

.sidenav .menu-group.menu-item-selected .menu-item > .fa {
  color: lawngreen;
}

/* Sub-menu items */
.sidenav .sub-menu-items {
  list-style-type: none;
  display: none;
  background: #98fb98;
  font-size: 12px;
}

.sidenav .sub-menu-items .sub-menu-item {
  padding: 8px 0;
  text-align: center;
}

.sidenav .sub-menu-items .sub-menu-item:hover {
  background: #fff;
}

.sidenav .sub-menu-items .sub-menu-item.sub-menu-item-selected {
  background: #fff;
}

.sidenav .menu-group.menu-item-selected .sub-menu-items .fa {
  color: springgreen;
}

.sidenav .menu-group.menu-item-collapsed .sub-menu-items {
  display: block;
  margin: 0;
  padding: 0;
  border: solid thin #7070;
}

.sidenav .menu-group.menu-item-collapsed .sub-menu-items a {
  color: #000;
}

.sidenav.sidenav-open .menu-group.menu-item-collapsed .sub-menu-items .sub-menu-item {
  padding: 8px 8px 8px 12px;
  text-align: left;
}

@media (min-width: 992px) {
  .sidenav .menu-group.menu-item-collapsed .sub-menu-items .sub-menu-item {
    padding: 8px 8px 8px 10px;
  }
}

/* Position and style the close button (top right corner) */
.sidenav #closeSidebar {
  position: absolute;
  top: -1%;
  right: 5%;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none;
}

/* Position and style the open button (top left corner) */
.sidenav #openSidebar {
  position: absolute;
  top: 0;
  font-size: 36px;
}

/* When to display openSidebar and closeSidebar buttons */
@media (min-width: 992px) {
  .sidenav.sidenav-open {
    width: 14%;
  }

  .sidenav.sidenav-open #openSidebar {
    display: none;
  }

  .sidenav.sidenav-open #closeSidebar {
    display: block;
  }

  .sidenav #openSidebar {
    display: block;
  }

  .sidenav #closeSidebar {
    display: none;
  }
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}
/* ================================== */
